In [1]:
# Mike
import pandas as pd

In [3]:
#read in
income_by_race_df = pd.read_csv('../Data/clean_income_by_location.csv')
income_by_race_df.head()

,Race,Year,Household Income by Race,Household Income by Race Moe,County,State
0,Total,2019,69953,4889.0,Albany County,NY
1,Total,2019,41432,1090.0,Bronx County,NY
2,Total,2019,52010,3777.0,Broome County,NY
3,Total,2019,50912,2594.0,Cattaraugus County,NY
4,Total,2019,58665,4419.0,Cayuga County,NY

In [12]:
# Create Race Table
race_df = income_by_race_df[['Race']]
race_df.Race.unique()
race_df.drop(['Total'])
race_df

KeyError: "['Total'] not found in axis"

In [5]:
# Create Household Income By Race Table
race_df = income_by_race_df[['Year','Household Income by Race', 'Household Income by Race Moe']]
race_df

      Year  Household Income by Race  Household Income by Race Moe
0     2019                     69953                        4889.0
1     2019                     41432                        1090.0
2     2019                     52010                        3777.0
3     2019                     50912                        2594.0
4     2019                     58665                        4419.0
...    ...                       ...                           ...
1974  2013                     25847                        6356.0
1975  2013                     45037                       28859.0
1976  2013                     37361                       29732.0
1977  2013                     40253                       22919.0
1978  2013                     53423                        6260.0

[1979 rows x 3 columns]