In [18]:
import pandas as pd

In [19]:
census_df_2016=pd.read_csv("census_2016_county.csv")
census_df_2016.head()

           COUNTY     STATE  POPULATION        DATE
0  Baldwin County   Alabama      208563  2016-07-01
1  Barbour County   Alabama       25965  2016-07-01
2     Bibb County   Alabama       22643  2016-07-01
3   Blount County   Alabama       57704  2016-07-01
4  Bullock County   Alabama       10362  2016-07-01

In [20]:
census_df_2017=pd.read_csv("census_2017_county.csv")
census_df_2017.head()

             COUNTY     STATE  POPULATION        DATE
0    Conecuh County   Alabama       12469  2017-07-01
1      Coosa County   Alabama       10754  2017-07-01
2  Covington County   Alabama       37092  2017-07-01
3   Crenshaw County   Alabama       13871  2017-07-01
4    Cullman County   Alabama       82755  2017-07-01

In [21]:
census_df_2018=pd.read_csv("census_2018_county.csv")
census_df_2018.head()

           COUNTY     STATE  POPULATION        DATE
0  Autauga County   Alabama       55601  2018-07-01
1  Baldwin County   Alabama      218022  2018-07-01
2  Barbour County   Alabama       24881  2018-07-01
3     Bibb County   Alabama       22400  2018-07-01
4   Blount County   Alabama       57840  2018-07-01

In [22]:
census_df_2019=pd.read_csv("census_2019_county.csv")
census_df_2019.head()

             COUNTY        STATE  POPULATION        DATE
0    Hidalgo County   New Mexico        4198  2019-07-01
1     Hudson County   New Jersey      672391  2019-07-01
2  Hunterdon County   New Jersey      124371  2019-07-01
3     Morris County   New Jersey      491845  2019-07-01
4   McKinley County   New Mexico       71367  2019-07-01

In [23]:
New_York_census_df_2016=census_df_2016[census_df_2016['STATE'].str.contains("New York")]
New_York_census_df_2016.head()

                  COUNTY      STATE  POPULATION        DATE
2116       Albany County   New York      308846  2016-07-01
2139     Allegany County   New York       47077  2016-07-01
2140        Bronx County   New York     1455720  2016-07-01
2141       Broome County   New York      195334  2016-07-01
2142  Cattaraugus County   New York       77677  2016-07-01

In [24]:
New_York_census_df_2017=census_df_2017[census_df_2017['STATE'].str.contains("New York")]
New_York_census_df_2017.head()

                 COUNTY      STATE  POPULATION        DATE
1461      Monroe County   New York      747642  2017-07-01
1462  Montgomery County   New York       49258  2017-07-01
1463      Nassau County   New York     1369514  2017-07-01
1464    New York County   New York     1664727  2017-07-01
1465     Niagara County   New York      211328  2017-07-01

In [25]:
New_York_census_df_2018=census_df_2018[census_df_2018['STATE'].str.contains("New York")]
New_York_census_df_2018.head()

                  COUNTY      STATE  POPULATION        DATE
1828       Albany County   New York      307117  2018-07-01
1829     Allegany County   New York       46430  2018-07-01
1830        Bronx County   New York     1432132  2018-07-01
1831       Broome County   New York      191659  2018-07-01
1832  Cattaraugus County   New York       76840  2018-07-01

In [26]:
New_York_census_df_2019=census_df_2019[census_df_2019['STATE'].str.contains("New York")]
New_York_census_df_2019.head()

                 COUNTY      STATE  POPULATION        DATE
117        Bronx County   New York     1418207  2019-07-01
236     Onondaga County   New York      460528  2019-07-01
1043   Schoharie County   New York       30999  2019-07-01
1044      Fulton County   New York       53383  2019-07-01
1045  Rensselaer County   New York      158714  2019-07-01

In [27]:
searchfor=['New York County','Kings County','Bronx County', 'Richmond County', 'Queens County', 'Suffolk County', 'Nassau County']
New_York_City_2016_Census_df=New_York_census_df_2016[New_York_census_df_2016['COUNTY'].str.contains('|'.join(searchfor))]
New_York_City_2016_Census_df

               COUNTY      STATE  POPULATION        DATE
2140     Bronx County   New York     1455720  2016-07-01
2222     Kings County   New York     2629150  2016-07-01
2249    Nassau County   New York     1361500  2016-07-01
2250  New York County   New York     1643734  2016-07-01
2280    Queens County   New York     2333054  2016-07-01
2302  Richmond County   New York      476015  2016-07-01
2331   Suffolk County   New York     1492583  2016-07-01

In [28]:
searchfor=['New York County','Kings County','Bronx County', 'Richmond County', 'Queens County', 'Suffolk County', 'Nassau County']
New_York_City_2017_Census_df=New_York_census_df_2017[New_York_census_df_2017['COUNTY'].str.contains('|'.join(searchfor))]
New_York_City_2017_Census_df

               COUNTY      STATE  POPULATION        DATE
1463    Nassau County   New York     1369514  2017-07-01
1464  New York County   New York     1664727  2017-07-01
1511    Queens County   New York     2358582  2017-07-01
1513  Richmond County   New York      479458  2017-07-01
1558   Suffolk County   New York     1492953  2017-07-01
1823     Kings County   New York     2648771  2017-07-01
2154     Bronx County   New York     1471160  2017-07-01

In [29]:
searchfor=['New York County','Kings County','Bronx County', 'Richmond County', 'Queens County', 'Suffolk County', 'Nassau County']
New_York_City_2018_Census_df=New_York_census_df_2018[New_York_census_df_2018['COUNTY'].str.contains('|'.join(searchfor))]
New_York_City_2018_Census_df

               COUNTY      STATE  POPULATION        DATE
1830     Bronx County   New York     1432132  2018-07-01
1851     Kings County   New York     2582830  2018-07-01
1857    Nassau County   New York     1358343  2018-07-01
1858  New York County   New York     1628701  2018-07-01
1868    Queens County   New York     2278906  2018-07-01
1870  Richmond County   New York      476179  2018-07-01
1879   Suffolk County   New York     1481093  2018-07-01

In [30]:
searchfor=['New York County','Kings County','Bronx County', 'Richmond County', 'Queens County', 'Suffolk County', 'Nassau County']
New_York_City_2019_Census_df=New_York_census_df_2019[New_York_census_df_2019['COUNTY'].str.contains('|'.join(searchfor))]
New_York_City_2019_Census_df

               COUNTY      STATE  POPULATION        DATE
117      Bronx County   New York     1418207  2019-07-01
1047    Queens County   New York     2253858  2019-07-01
1049  New York County   New York     1628706  2019-07-01
1287    Nassau County   New York     1356924  2019-07-01
1291   Suffolk County   New York     1476601  2019-07-01
2273     Kings County   New York     2559903  2019-07-01
2282  Richmond County   New York      476143  2019-07-01

In [31]:
Combined_New_York_City_Census_df = pd.concat([New_York_City_2016_Census_df, New_York_City_2017_Census_df, New_York_City_2018_Census_df,New_York_City_2019_Census_df], axis=0)
Combined_New_York_City_Census_df

               COUNTY      STATE  POPULATION        DATE
2140     Bronx County   New York     1455720  2016-07-01
2222     Kings County   New York     2629150  2016-07-01
2249    Nassau County   New York     1361500  2016-07-01
2250  New York County   New York     1643734  2016-07-01
2280    Queens County   New York     2333054  2016-07-01
2302  Richmond County   New York      476015  2016-07-01
2331   Suffolk County   New York     1492583  2016-07-01
1463    Nassau County   New York     1369514  2017-07-01
1464  New York County   New York     1664727  2017-07-01
1511    Queens County   New York     2358582  2017-07-01
1513  Richmond County   New York      479458  2017-07-01
1558   Suffolk County   New York     1492953  2017-07-01
1823     Kings County   New York     2648771  2017-07-01
2154     Bronx County   New York     1471160  2017-07-01
1830     Bronx County   New York     1432132  2018-07-01
1851     Kings County   New York     2582830  2018-07-01
1857    Nassau County   New York     1358343  2018-07-01
1858  New York County   New York     1628701  2018-07-01
1868    Queens County   New York     2278906  2018-07-01
1870  Richmond County   New York      476179  2018-07-01
1879   Suffolk County   New York     1481093  2018-07-01
117      Bronx County   New York     1418207  2019-07-01
1047    Queens County   New York     2253858  2019-07-01
1049  New York County   New York     1628706  2019-07-01
1287    Nassau County   New York     1356924  2019-07-01
1291   Suffolk County   New York     1476601  2019-07-01
2273     Kings County   New York     2559903  2019-07-01
2282  Richmond County   New York      476143  2019-07-01