In [11]:
#T.BRADFORD
#July 2021
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from datetime import datetime
from census import Census

# Census API Key
from config import api_key

In [12]:
# Run Census Search to retrieve population data
url_2019_state ="https://api.census.gov/data/2019/pep/population?get=NAME,POP,DATE_DESC&for=state:*&key="+api_key
response = requests.get(url_2019_state)
response_json = response.json()

In [13]:
#Create and rename Dataframe
census_2019_state = pd.DataFrame(response.json()[1:], columns=response.json()[0]).rename(columns=
{"NAME":"STATE", "POP":"POPULATION","DATE_DESC":"DATE","state":"State Code"})
census_2019_state["POPULATION"].astype(int)

#string split
census_2019_state[['DATE', 'Trash']] = census_2019_state['DATE'].str.split(' ', 1, expand=True)

#convert Date to a datetime object
census_2019_state['DATE'] = pd.to_datetime(census_2019_state['DATE'])

#reduced dataframe
census_2019_state = census_2019_state[["STATE","POPULATION","DATE"]]

census_2019_state

                   STATE POPULATION       DATE
0            Mississippi    2976149 2019-07-01
1               Missouri    6137428 2019-07-01
2                Montana    1068778 2019-07-01
3               Nebraska    1934408 2019-07-01
4                 Nevada    3080156 2019-07-01
5          New Hampshire    1359711 2019-07-01
6             New Jersey    8882190 2019-07-01
7             New Mexico    2096829 2019-07-01
8               New York   19453561 2019-07-01
9         North Carolina   10488084 2019-07-01
10          North Dakota     762062 2019-07-01
11                  Ohio   11689100 2019-07-01
12              Oklahoma    3956971 2019-07-01
13                Oregon    4217737 2019-07-01
14          Pennsylvania   12801989 2019-07-01
15          Rhode Island    1059361 2019-07-01
16        South Carolina    5148714 2019-07-01
17          South Dakota     884659 2019-07-01
18             Tennessee    6829174 2019-07-01
19                 Texas   28995881 2019-07-01
20               Vermont     623989 2019-07-01
21                  Utah    3205958 2019-07-01
22              Virginia    8535519 2019-07-01
23            Washington    7614893 2019-07-01
24         West Virginia    1792147 2019-07-01
25             Wisconsin    5822434 2019-07-01
26               Wyoming     578759 2019-07-01
27           Puerto Rico    3193694 2019-07-01
28               Alabama    4903185 2019-07-01
29                Alaska     731545 2019-07-01
30               Arizona    7278717 2019-07-01
31              Arkansas    3017804 2019-07-01
32            California   39512223 2019-07-01
33              Colorado    5758736 2019-07-01
34              Delaware     973764 2019-07-01
35  District of Columbia     705749 2019-07-01
36           Connecticut    3565287 2019-07-01
37               Florida   21477737 2019-07-01
38               Georgia   10617423 2019-07-01
39                 Idaho    1787065 2019-07-01
40                Hawaii    1415872 2019-07-01
41              Illinois   12671821 2019-07-01
42               Indiana    6732219 2019-07-01
43                  Iowa    3155070 2019-07-01
44                Kansas    2913314 2019-07-01
45              Kentucky    4467673 2019-07-01
46             Louisiana    4648794 2019-07-01
47                 Maine    1344212 2019-07-01
48              Maryland    6045680 2019-07-01
49         Massachusetts    6892503 2019-07-01
50              Michigan    9986857 2019-07-01
51             Minnesota    5639632 2019-07-01

In [14]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_2019_state.to_csv("census_2019_state.csv", encoding="utf-8", index=False)

In [15]:
# Run Census Search to retrieve population data
url_2018_state ="https://api.census.gov/data/2018/pep/population?get=GEONAME,POP,DATE_DESC&for=state:*&key="+api_key
response = requests.get(url_2018_state)
response_json = response.json()

In [16]:
#Create and rename Dataframe
census_2018_state = pd.DataFrame(response.json()[1:], columns=response.json()[0]).rename(columns=
{"GEONAME":"STATE", "POP":"POPULATION","DATE_DESC":"DATE","state":"State Code"})
census_2018_state["POPULATION"].astype(int)

#string split
census_2018_state[['DATE', 'Trash']] = census_2018_state['DATE'].str.split(' ', 1, expand=True)

#convert Date to a datetime object
census_2018_state['DATE'] = pd.to_datetime(census_2018_state['DATE'])

#reduced dataframe
census_2018_state = census_2018_state[["STATE","POPULATION","DATE"]]

census_2018_state

                   STATE POPULATION       DATE
0                Alabama    4887871 2018-07-01
1                 Alaska     737438 2018-07-01
2                Arizona    7171646 2018-07-01
3               Arkansas    3013825 2018-07-01
4             California   39557045 2018-07-01
5               Colorado    5695564 2018-07-01
6            Connecticut    3572665 2018-07-01
7               Delaware     967171 2018-07-01
8   District of Columbia     702455 2018-07-01
9                Florida   21299325 2018-07-01
10               Georgia   10519475 2018-07-01
11                Hawaii    1420491 2018-07-01
12                 Idaho    1754208 2018-07-01
13              Illinois   12741080 2018-07-01
14               Indiana    6691878 2018-07-01
15                  Iowa    3156145 2018-07-01
16                Kansas    2911505 2018-07-01
17              Kentucky    4468402 2018-07-01
18             Louisiana    4659978 2018-07-01
19                 Maine    1338404 2018-07-01
20              Maryland    6042718 2018-07-01
21         Massachusetts    6902149 2018-07-01
22              Michigan    9995915 2018-07-01
23             Minnesota    5611179 2018-07-01
24           Mississippi    2986530 2018-07-01
25              Missouri    6126452 2018-07-01
26               Montana    1062305 2018-07-01
27              Nebraska    1929268 2018-07-01
28                Nevada    3034392 2018-07-01
29         New Hampshire    1356458 2018-07-01
30            New Jersey    8908520 2018-07-01
31            New Mexico    2095428 2018-07-01
32              New York   19542209 2018-07-01
33        North Carolina   10383620 2018-07-01
34          North Dakota     760077 2018-07-01
35                  Ohio   11689442 2018-07-01
36              Oklahoma    3943079 2018-07-01
37                Oregon    4190713 2018-07-01
38          Pennsylvania   12807060 2018-07-01
39          Rhode Island    1057315 2018-07-01
40        South Carolina    5084127 2018-07-01
41          South Dakota     882235 2018-07-01
42             Tennessee    6770010 2018-07-01
43                 Texas   28701845 2018-07-01
44                  Utah    3161105 2018-07-01
45               Vermont     626299 2018-07-01
46              Virginia    8517685 2018-07-01
47            Washington    7535591 2018-07-01
48         West Virginia    1805832 2018-07-01
49             Wisconsin    5813568 2018-07-01
50               Wyoming     577737 2018-07-01
51           Puerto Rico    3195153 2018-07-01

In [17]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_2018_state.to_csv("census_2018_state.csv", encoding="utf-8", index=False)

In [18]:
# Run Census Search to retrieve population data
url_2017_state ="https://api.census.gov/data/2017/pep/population?get=GEONAME,POP,DATE_DESC&for=state:*&key="+api_key
response = requests.get(url_2017_state)
response_json = response.json()

In [19]:
#Create and rename Dataframe
census_2017_state = pd.DataFrame(response.json()[1:], columns=response.json()[0]).rename(columns=
{"GEONAME":"STATE", "POP":"POPULATION","DATE_DESC":"DATE","state":"State Code"})
census_2017_state["POPULATION"].astype(int)

#string split
census_2017_state[['DATE', 'Trash']] = census_2017_state['DATE'].str.split(' ', 1, expand=True)

#convert Date to a datetime object
census_2017_state['DATE'] = pd.to_datetime(census_2017_state['DATE'])

#reduced dataframe
census_2017_state = census_2017_state[["STATE","POPULATION","DATE"]]

census_2017_state

                   STATE POPULATION       DATE
0   District of Columbia     693972 2017-07-01
1                Florida   20984400 2017-07-01
2                Georgia   10429379 2017-07-01
3                 Hawaii    1427538 2017-07-01
4                  Idaho    1716943 2017-07-01
5               Illinois   12802023 2017-07-01
6                Indiana    6666818 2017-07-01
7                   Iowa    3145711 2017-07-01
8                 Kansas    2913123 2017-07-01
9               Kentucky    4454189 2017-07-01
10             Louisiana    4684333 2017-07-01
11                 Maine    1335907 2017-07-01
12              Maryland    6052177 2017-07-01
13         Massachusetts    6859819 2017-07-01
14               Alabama    4874747 2017-07-01
15                Alaska     739795 2017-07-01
16               Arizona    7016270 2017-07-01
17              Arkansas    3004279 2017-07-01
18            California   39536653 2017-07-01
19              Colorado    5607154 2017-07-01
20           Connecticut    3588184 2017-07-01
21              Delaware     961939 2017-07-01
22              Michigan    9962311 2017-07-01
23             Minnesota    5576606 2017-07-01
24           Mississippi    2984100 2017-07-01
25              Missouri    6113532 2017-07-01
26               Montana    1050493 2017-07-01
27              Nebraska    1920076 2017-07-01
28                Nevada    2998039 2017-07-01
29         New Hampshire    1342795 2017-07-01
30            New Jersey    9005644 2017-07-01
31            New Mexico    2088070 2017-07-01
32              New York   19849399 2017-07-01
33        North Carolina   10273419 2017-07-01
34          North Dakota     755393 2017-07-01
35                  Ohio   11658609 2017-07-01
36              Oklahoma    3930864 2017-07-01
37                Oregon    4142776 2017-07-01
38          Pennsylvania   12805537 2017-07-01
39          Rhode Island    1059639 2017-07-01
40        South Carolina    5024369 2017-07-01
41          South Dakota     869666 2017-07-01
42             Tennessee    6715984 2017-07-01
43                 Texas   28304596 2017-07-01
44                  Utah    3101833 2017-07-01
45               Vermont     623657 2017-07-01
46              Virginia    8470020 2017-07-01
47            Washington    7405743 2017-07-01
48         West Virginia    1815857 2017-07-01
49             Wisconsin    5795483 2017-07-01
50               Wyoming     579315 2017-07-01
51           Puerto Rico    3337177 2017-07-01

In [20]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_2017_state.to_csv("census_2017_state.csv", encoding="utf-8", index=False)

In [21]:
# Run Census Search to retrieve population data
url_2016_state ="https://api.census.gov/data/2016/pep/population?get=GEONAME,POP,DATE_DESC&for=state:*&key="+api_key
response = requests.get(url_2016_state)
response_json = response.json()

In [22]:
#Create and rename Dataframe
census_2016_state = pd.DataFrame(response.json()[1:], columns=response.json()[0]).rename(columns=
{"GEONAME":"STATE", "POP":"POPULATION","DATE_DESC":"DATE","state":"State Code"})
census_2016_state["POPULATION"].astype(int)

#string split
census_2016_state[['DATE', 'Trash']] = census_2016_state['DATE'].str.split(' ', 1, expand=True)

#convert Date to a datetime object
census_2016_state['DATE'] = pd.to_datetime(census_2016_state['DATE'])

#reduced dataframe
census_2016_state = census_2016_state[["STATE","POPULATION","DATE"]]
census_2016_state

                   STATE POPULATION       DATE
0                 Alaska     741894 2016-07-01
1                Arizona    6931071 2016-07-01
2               Arkansas    2988248 2016-07-01
3             California   39250017 2016-07-01
4               Colorado    5540545 2016-07-01
5            Connecticut    3576452 2016-07-01
6               Delaware     952065 2016-07-01
7   District of Columbia     681170 2016-07-01
8                Florida   20612439 2016-07-01
9                Georgia   10310371 2016-07-01
10                Hawaii    1428557 2016-07-01
11                 Idaho    1683140 2016-07-01
12              Illinois   12801539 2016-07-01
13               Indiana    6633053 2016-07-01
14                  Iowa    3134693 2016-07-01
15                Kansas    2907289 2016-07-01
16              Kentucky    4436974 2016-07-01
17             Louisiana    4681666 2016-07-01
18                 Maine    1331479 2016-07-01
19              Maryland    6016447 2016-07-01
20         Massachusetts    6811779 2016-07-01
21              Michigan    9928300 2016-07-01
22             Minnesota    5519952 2016-07-01
23               Alabama    4863300 2016-07-01
24           Mississippi    2988726 2016-07-01
25              Missouri    6093000 2016-07-01
26               Montana    1042520 2016-07-01
27              Nebraska    1907116 2016-07-01
28                Nevada    2940058 2016-07-01
29         New Hampshire    1334795 2016-07-01
30            New Jersey    8944469 2016-07-01
31            New Mexico    2081015 2016-07-01
32              New York   19745289 2016-07-01
33        North Carolina   10146788 2016-07-01
34          North Dakota     757952 2016-07-01
35                  Ohio   11614373 2016-07-01
36              Oklahoma    3923561 2016-07-01
37                Oregon    4093465 2016-07-01
38          Pennsylvania   12784227 2016-07-01
39          Rhode Island    1056426 2016-07-01
40        South Carolina    4961119 2016-07-01
41          South Dakota     865454 2016-07-01
42             Tennessee    6651194 2016-07-01
43                 Texas   27862596 2016-07-01
44                  Utah    3051217 2016-07-01
45               Vermont     624594 2016-07-01
46              Virginia    8411808 2016-07-01
47            Washington    7288000 2016-07-01
48         West Virginia    1831102 2016-07-01
49             Wisconsin    5778708 2016-07-01
50               Wyoming     585501 2016-07-01
51           Puerto Rico    3411307 2016-07-01

In [23]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_2016_state.to_csv("census_2016_state.csv", encoding="utf-8", index=False)